*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(205, 205, 205);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    width: 50%;
    padding: 10px;
    background: rgb(156, 156, 156);
    list-style: none;
    margin-left: 20%;
    border-radius: 5px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.501);
}
ul li{
    padding: 10px;
}

ul li label{
    background-color: rgb(35, 13, 124);
    color: rgb(167, 214, 255);
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
}
ul li p{
    max-height: 0;
    overflow: hidden;
    transition: 1s;
    line-height: 23px;
    padding: 0 10px;
    margin: 5px;
    text-align: justify;
}

ul li label + input[type=radio]:checked  + p{
    max-height: 200px;

}
ul li input[type=radio]{
    display: none;
}
